# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
.env

# C build files
*.o
*.out
*.exe
*.a
*.so
*.dll
*.dylib

# Build directories
build/
bin/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db